@model List<CQRSNight.CQRSDesignPattern.Results.CategoryResults.GetCategoryQueryResult>

@{
    Layout = null;
}

<div class="container">
    <br /><br />
    <div class="alert alert-primary">Kategori Listesi</div>
    <table class="table table-bordered">
        <tr>
            <th>#</th>
            <th>Kategori Adı</th>
            <th>Sil</th>
            <th>Güncelle</th>
        </tr>
        @foreach(var item in Model)
        {
            <tr>
                <td>@item.CategoryId</td>
                <td>@item.CategoryName</td>
                <td><a href="/Category/RemoveCategory/@item.CategoryId" class="btn btn-danger">Sil</a></td>
                <td><a href="/Category/UpdateCategory/@item.CategoryId" class="btn btn-danger">Güncelle</a></td>
            </tr>
        }
    </table>
    <a href="/Category/CreateCategory/" class="btn btn-info">Yeni Kategori Girişi</a>
</div>